.navbar{
    background-color: #202020;
    font-weight:bolder;
    padding-left: 5px;
    padding-right: 5px;
    
    
}
.nav-item{
    color:white;
}
.navbar-brand{
    color:white;
}

.contenedor-fotos{
    display: flex;
    justify-content: space-around;
}


.navbar-footer{
    background-color: #202020;
    
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
